html
  head
    title= title
  body
    h1= message
    img('https://klv-oboi.ru/img/gallery/5/thumbs/thumb_l_3311.jpg')
    h2= 'И тут текст мой будет когда-то'
    a(href="./page2") Ссылка на 2 страницу
