html
  head
    title= title
  body
    h1= message
    img(src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiJ9-aHkK_lAhXstYsKHfnJC2UQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F841469511601378446%2F&psig=AOvVaw3x5JS5Rb8vbDQnmwTcuBqX&ust=1571808216495185", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="./page2") Ссылка на 2 страницу
